body {
  font-family: "Montserrat", sans-serif;
  background-color: beige;
  align-items: center;
  text-align: center;
}

h1 h2 {
  font-style: bold;
  font-weight: 900;
  margin-left: 50%;
}

.class {
  width: 400px;
  align-items: center;
  border-radius: 50%;
}

p {
  font-style: bold;
}

button {
  background: none;
  color: #5d737e;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.25s;
  border-radius: 5px;
  margin-top: 1.5rem;
}

button:hover {
  border-color: #000000;
  color: black;
  box-shadow: 0 0.5em 0.05em -0.4em #000000;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.timeline-container{
  display: flex;
  align-items: center;
  margin: 1rem;
}

@media screen and (max-width: 1160px) {
  .timeline-container {
    display: inline-block;
  }
  .timeline-container img{
    max-width: 60%;
  }
}

@media screen and (max-width: 780px) {
  .timeline-container img{
    max-width: 60%;
  }
}